.container {
    width: 800px;
    margin: 20px auto;
    position: relative;
    /* To position the dropdown correctly */
}

.search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.dropdown {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: 100%; /* 100% */
    z-index: 1000;
    /* Ensure the dropdown is above other elements */
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
     
 
    background-color: #f1f1f1;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    
}

.dropdown-row {
    display: flex;
    justify-content: space-between;
 
    padding: 8px;
    cursor: pointer;
}

.dropdown-row:hover,
.dropdown-row.highlighted {
    background-color: #e0e0e0;
}

.dropdown-row span {
    width: 25%;
    text-align: center;
    /* text-align: left; */
}